<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>管理员增加分类页面</title>-->
<!--<style>-->
<!--#main{-->
<!--width: 850px;-->
<!--margin: auto;-->
<!--}-->
<!--table{-->
<!--width: 900px;-->
<!--text-align: center;-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<div align="center">-->
<!--<p style="font-size: 100px">管理员增加分类页面</p>-->
<!--</div>-->

<!--<body>-->
<!--<div categoryid="main">-->
<!--<p style="font-size: 50px"><a th:href="@{/category/main}">返回首页</a></p>-->
<!--<form th:action="@{/category/add}" method="post" style="font-size: 50px">-->
<!--<tr>-->
<!--<td>添加类别</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><input style="font-size: 40px;height: 50px;width: 300px;" type="text" name="sortname"></td>-->
<!--</tr>-->
<!--<div>-->
<!--<input style="font-size: 40px;height: 60px;width: 225px;"type="submit" value="确认添加">-->
<!--<button style="font-size: 40px;height: 60px;width: 200px;" type="button" onclick="history.go(-1)">取消</button>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->