<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Title</title>-->
<!--<style>-->
<!--#main{-->
<!--width: 800px;-->
<!--margin: auto;-->
<!--}-->
<!--form{-->
<!--width:900px;-->
<!--font-size: 50px;-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<div categoryid="main">-->
<!--<a th:href="@{/category/main}">返回首页</a>-->
<!--<form th:action="@{/course/addcourse2/{courseid}(courseid=${courseid})}" method="get">-->
<!--&lt;!&ndash;<td><input style="height: 50px;width: 300px;font-size: 40px" type="hidden" name="courseid" th:text="${csperiod.courseid}"></td>&ndash;&gt;-->

<!--<input style="height: 40px;width: 40px;display: block" type="checkbox" name="period"-->
<!--th:each="csperiod:${csperiod}" th:value="${csperiod.period}" th:text="${csperiod.period}"><br/>-->
<!--<input style="width: 200px;height: 50px;font-size: 40px" type="submit" value="确认">-->

<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->